@{
    ViewData["Title"] = "Home Page";
}

<main>
    <select>
        <option value="1">Текст</option>
        <option value="2">Кнопка</option>
    </select>

    <button>Запустить тест</button>
</main>